<div class="artist-cards">
  <% @artists.each do |artist| %>
    <%= link_to artist_path(artist) do %>
      <% 
        random = rand(artist.photos.count)
        photoUrl = "#{CL_PHOTO_BASE_URL}/#{artist.photos[random].key}"
      %>
      <%= react_component("ArtistCard", { name: artist.name, photoUrl: photoUrl }) %>
    <% end %>
  <% end %>
</div>

<%# if user_signed_in? %>
  <%#= link_to "Remove", artist_add_path(artist), class: "btn btn-danger" %>
<%# else %>
  <%#= link_to "Add", artist_add_path(artist), class: "btn btn-primary" %>
<%# end %>
