<h2><%= @album.title %></h2>

<ul>
  <% @songs.each do |song| %>
    <li>
      <%= song.albumSongs.where(album: @album).first.track_number %> -
      <%= link_to song.title, artist_album_song_path(@artist, @album, song) %>
    </li>
  <% end %>
</ul>
